* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
p,
span,
label {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 15px;
}

#harmonies {
  margin: 15px;
}

#harmonies > label {
  margin-right: 10px;
}

#pickholder {
  display: flex;
  flex-flow: wrap column;
  margin-top: 20px;
}

#pickholder > input {
  height: 50px;
  width: 200px;
  margin-top: 10px;
}

#colors {
  max-width: 80%;
  height: 80%;
  display: flex;
  flex-flow: wrap row;
}

#colorinfo1,
#colorinfo2,
#colorinfo3,
#colorinfo4,
#colorinfo5 {
  margin-top: 50px;
}

.colorbox {
  height: 250px;
  width: 250px;
  border-radius: 5px 5px 0 0;
}

.hexcode,
.rgb {
  padding: 10px 10px 0 10px;
  background-color: #dadada;
}

.hsl {
  padding: 10px;
  background-color: #dadada;
  border-radius: 0 0 5px 5px;
}
